.player__card {
    --bs-card-border-width: 0;
}

.player__card:hover {
    --bs-card-border-width: 0;
    background-color: rgba(61, 61, 61, 0.147);
}

.player__button__container {
    justify-content: center;
}

.player__button {
    width: min-content;
    margin: 0.2rem;
    justify-content: center;
    
}

.player__custom_img {
    max-width: 5rem;
    max-height: 7rem;
    border-radius: 25px;
}

.pos__and__players__container {
    margin-left: 1rem; 
}

.label__button {
    display: flex;
}

.label__button > button {
    margin-left: 2rem;
}

.pos__container {
    margin-bottom: 2rem;
}

.players__title {
    display: flex;
    justify-content: center;
    margin-top: 0.2rem;
    align-content: center;
}